body{
	background-image:ul("images/two.jpg");
	}

input [type="text"]{
	width: 200px;
	display: block;

}

.myform{
	background-color:white;
	width:400px;
	height:570px;
	opacity:1;
	margin-left:100px;
	margin-top:20px;
	text-align:center;
}
.div-img{
	float:left;
	width:50%;
	height:1000px;
}
.digblocform{
	width:50%;
	height:1000px;
	float:left;

}

.contener{
	background-color:#ececec;
	margin:auto;
	width:1100px;
	height:600px;
	border: 3px solid white;
}

body{
	background-color:skyblue;
}
.menu2{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.menu2 li{
	float:left;
	width:200px;
}
.menu3 li {
	heigth: 50px;
	width: 200px;
	border-radius: 25px;
}
ul li a{
	color:white;
}
ul li a{
	heigth:50px;
	background-color:gray;
	width:200px;
	text-decoration:none;
	border-radius: 25px;
}
ul li a:hover {
	background-color: green;
	font-size:30px;
}

.center {
	margin-top: 100px;
}

input[type="text"]{
	width: 300px;
}
input[type="password"]{
	width: 300px;
}
/*----------------*/
body{
	background-color:skyblue;
}
ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
li{
	float:left;
	width:350px;
	background-color:black;
}
ul li a{
	color:white;
}
ul li a{
	heigth:50px;
	background-color:black;
	width:200px;
	text-decoration:none;
	border-radius: 25px;
}
ul li a:hover {
	background-color: green;
	font-size:30px;
}


